/* ======== GLOBAL CSS ======== */
body {
  font-size: 16px;
  color: #222;
  font-family: 'Pretendard', 'Apple SD Gothic Neo',  '돋움', Dotum, 'Arial', 'Helvetica', Sans-serif;
}

/* 버튼 기본 스타일 */
.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
